VITE_BACKEND_URL=http://localhost:3001
VITE_SUPABASE_URL=https://hdjtgyvdlxwntfriqhff.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_your_supabase_publishable_key
VITE_ALGOD_SERVER_URL=https://testnet-api.algonode.cloud
VITE_ALGORAND_PORT=443
VITE_NEUROCLASS_TREASURY_ADDRESS=HYNRAYO4IGZRBJ6MWZTBIRAOVWQFZODFDQBSJNQNFSP3TRGV5IYOOAZN5A
VITE_X402_NETWORK=algorand:SGO1GKSzyE7IEPItTxCByw9x8FmnrCDexi9/cOUJOiI=
VITE_X402_USDC_ASSET_ID=10458941
